.edit-comment-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 1rem;
}

.comment-card {
  display: flex;
  margin-bottom: 1rem;
  flex-flow: row nowrap;
}
.comment-card:last-child {
  margin-bottom: 0;
}

.comment-main-section {
  width: 100%;
}

.comment-main-section .username-container .name {
  font-weight: 600;
  margin-right: 0.3rem;
}

.user-comment {
  max-width: 100%;
  width: 100%;
  height: auto;
  word-break: break-word;
  margin-top: 0.2rem;
}
.comment-card .comment-user-image {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  object-fit: cover;
  margin-right: 0.5rem;
}

.comment-toolbar .edit {
  top: -5px;
}

.username-container .edit {
  position: absolute;
  right: 0;
  z-index: 0;
  cursor: pointer;
  display: flex;
}

.edit-comment-container textarea {
  margin: 0 0.5rem;
  flex-grow: 1;
  height: 60px;
  display: flex;
  border: none;
  resize: none;
  font-size: 1rem;
  font-family: inherit;
  width: 20px;
  color: var(--text-color);
  background-color: var(--surface);
  border: 1px solid var(--border-color);
  padding: 0.5rem 0.6em;
  border-radius: 0.5rem;
}

.edit-comment-container textarea:focus {
  outline: none;
}

.edit-comment-container button {
  border: none;
  padding: 0.4rem 1rem;
  border-radius: 3rem;
  background-color: var(--primary-color);
  font-weight: 700;
  font-size: 1rem;
  color: var(--white);
  cursor: pointer;
  margin-left: 0.5rem;
}
.comment-toolbar-menu-container {
  position: absolute;
  right: 40px;
  top: 0px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  border-radius: 1rem;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12);
  width: 150px;
  background-color: var(--surface);
  border: 1px solid var(--border-color);
  color: var(--text-color);

  opacity: 1;
}

.comment-toolbar-menu-container p {
  cursor: pointer;
  padding: 1rem 1.5rem;
  background-color: var(--surface);
  color: var(--text-color);

  text-align: left;
}

.comment-toolbar-menu-container p:hover {
  background-color: var(--hover-background);
}


.comment-toolbar-menu-container p:first-child {
  border-radius: 1rem 1rem 0rem 0rem;
}

.comment-toolbar-menu-container p:last-child {
  border-radius: 0 0 1rem 1rem;
}

.user-profile-img-container {
  margin-right: 0.5rem;
}

.comments-input-section-container {
  display: flex;
}

.comment-main-section .username-container .date {
  color: grey;
  margin-left: 0.5rem;
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100px;
  overflow: hidden;
}

@media (min-width: 768px) {
  .user-comment {
    max-width: 100%;
    width: 100%;
    height: auto;
  }
}

@media (min-width: 900px) {
  .user-comment {
    max-width: 100%;
    width: 100%;
    height: auto;
  }

  .comment-main-section .username-container .date {
    max-width: 100px;
  }
}
