* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.App {
  background-color: black;
}

:root {
  --primary-color: rgb(29, 155, 240);
  --primary-color-hover: rgb(57, 176, 255);
  --white: #ffffff;
  --hover-background: rgb(41, 41, 41);
  --border-color: rgb(41, 41, 41);
}
a {
  cursor: pointer;
  text-decoration: none;
}

.app-container {
  display: flex;
  flex-flow: column nowrap;
}

.feed {
  background-color: black;
  color: white;
  order: 2;
  min-height: 100vh;
  padding-right: 1.5rem;
}
.navbar {
  order: 3;
  position: sticky;
  bottom: 0px;
}

.discover {
  display: none;
}

.profile-picture {
  height: 50px;
  width: 50px;
  border-radius: 25px;
  object-fit: cover;
}

.username {
  color: grey;
}

@media (min-width: 768px) {
  .app-container {
    flex-flow: row;
  }

  .feed {
    width: 80%;
    min-height: 100vh;
  }

  .navbar {
    order: 1;
    position: sticky;
    top: 0;
    width: 20%;
    height: 100vh;
  }
}

@media (min-width: 900px) {
  .feed {
    width: 85%;
    min-height: 100vh;
  }

  .navbar {
    order: 1;
    position: sticky;
    top: 0;
    width: 15%;
    height: 100vh;
  }
  .discover {
    display: flex;
    order: 3;
    background-color: black;
    width: 35%;
    padding: 0 1rem;
  }
}

@media (min-width: 1200px) {
  .feed {
    width: 80%;
    min-height: 100vh;
  }

  .navbar {
    order: 1;
    position: sticky;
    top: 0;
    width: 20%;
    height: 100vh;
  }
  .discover {
    display: flex;
    order: 3;
    background-color: black;
    width: 30%;
    padding: 0 1.5rem;
  }
}
